// main: main.less

@media screen and (max-width: 1540px)  {
    #banner {
  background: url(../img/banner2.png) center no-repeat;
            padding: 200px 0;
        h1, p {
               top: 140px;
    left: 280px;
        }
    }
    #weare {
         background: url(../img/weare2.png) center no-repeat;
              padding: 142px 0;
    }
}